<div class="container">

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Politique modèle de confidentialité.</h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 pull-left">
    <h4>Introduction</h4>
  </div>
  <div class="col-md-12">
    <p>Cette application a pour but de démontrer mes capacitités en développement à de potentiels recruteurs.
       Cette application n'a aucun but commercial. Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.
    </p>
  </div>
  <div class="col-md-12 pull-left">
    <h4>Collecte des renseignements personnels</h4>
      <p>Nous collectons les renseignements suivants :</p>
      <ul>
        <li>Nom</li>
        <li>Prénom</li>
        <li>Adresse postale</li>
        <li>Adresse électronique</li>
      </ul>
      <p>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à
        l'interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la
        section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.
      </p>
  </div>
  <div class="col-md-12 pull-left">
    <h4>Formulaires  et interactivité</h4>
    <p>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</p>
    <ul>
      <li>Formulaire d'inscription au site Web</li>
      <li>Formulaire de création d'une annonce</li>
    </ul>
    <p>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>
    <ul>
      <li>Localiser les annonces proches de chez vous</li>
      <li>Correspondance</li>
      <li>Commentaires</li>
    </ul>
  </div>
  <div class="col-md-12 pull-left">
    <h4>Droit d'opposition et de retrait</h4>
    <p>
    Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels.
    Le droit d'opposition s'entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
    Le droit de retrait s'entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
    Pour pouvoir exercer ces droits, vous pouvez :
    <ul>
      <li>Courriel : jordan.bultez@gmail.com</li>
    </ul>
    </p>
  </div>
  <div class="col-md-12 pull-left">
    <h4>Droit d'accès</h4>
    <p>Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.
    L'exercice de ce droit se fera :</p>
      <ul>
        <li>Courriel : jordan.bultez@gmail.com</li>
      </ul>
  </div>
  <div class="col-md-12 pull-left">
    <h4>Sécurité</h4>
    <p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.
    Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :</p>
    <ul>
      <li>Protocole SSL (Secure Sockets Layer)</li>
      <li>Gestion des accès - personne autorisée</li>
      <li>Gestion des accès - personne concernée</li>
      <li>Identifiant / mot de passe</li>
    </ul>
    <p>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations
       technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois,
       comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente
       lorsque l'on utilise Internet pour transmettre des renseignements personnels.
     </p>
  </div>
</div>

</div>
<br>
