<footer class="footer">
  <div class="footer-copyright">
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <%= link_to "Conditions générales d'utilisations", cgu_path, class:"cgu-link"  %>
      </div>
    </div>
  </div>
</footer>
